@import 'utils/colors';
@import 'layout/testing';
@import 'susy/sass/susy';
@import "sprites";

#id {
  display: flex;
}

body {
  align-items: center;
  background: $bg;
  display: flex;
  justify-content: center;
}

.testing {
  // Percentage is a Sass function
  width: percentage(5/7);
}

.test-col {
  @include span(2);
}

.github {
  @include retina-sprite($github-group);
}


